[submodule "libraries/phpmailer"]
	path = libraries/phpmailer
	url = https://github.com/PHPMailer/PHPMailer.git
[submodule "libraries/phpqrcode"]
	path = libraries/phpqrcode
	url = https://github.com/t0k4rt/phpqrcode.git
[submodule "libraries/ckeditor"]
	path = libraries/ckeditor
	url = https://github.com/ckeditor/ckeditor-releases.git
[submodule "libraries/lightopenid"]
	path = libraries/lightopenid
	url = https://github.com/iignatov/LightOpenID.git
