# Don't commit secret files
secret.php
paypalsecret.php
config

#vim is also an ass
*.swp
*.swp
*.swo

# Emacs is an ass
*~

#ignore maintenance file

maintenance.json

# Htaccess is deprecated
.htaccess

.idea/
