[submodule "libraries/phpmailer"]
	path = libraries/phpmailer
	url = git://github.com/PHPMailer/PHPMailer.git
[submodule "libraries/phpqrcode"]
	path = libraries/phpqrcode
	url = git://github.com/t0k4rt/phpqrcode
[submodule "libraries/jcrop"]
	path = libraries/jcrop
	url = git://github.com/tapmodo/Jcrop
