[submodule "libraries/phpmailer"]
	path = libraries/phpmailer
	url = git://github.com/PHPMailer/PHPMailer.git
[submodule "libraries/phpqrcode"]
	path = libraries/phpqrcode
	url = git://github.com/t0k4rt/phpqrcode
[submodule "libraries/jcrop"]
	path = libraries/jcrop
	url = git://github.com/tapmodo/Jcrop
[submodule "libraries/chosen"]
	path = libraries/chosen
	url = git@github.com:harvesthq/chosen.git
[submodule "libraries/phpwebsockets"]
	path = libraries/phpwebsockets
	url = git@github.com:ghedipunk/PHP-Websockets.git
[submodule "libraries/ckeditor"]
	path = libraries/ckeditor
	url = git@github.com:ckeditor/ckeditor-releases.git
