.chatArea {
	background-color: #FFF;
	margin: 0px 10px 5px 10px;
	font-size: 13px;
	color: #000;
	overflow-y: scroll;
	position: relative;
	top: 5px;
	padding: 4px;
	border: solid 1px #CCC;
}
.chatBox {
	height: 23px;
	margin: 4px 10px 0px 10px;
	width: 100%;
	background-color: #EEE;
	color: #000;
	border: solid 1px #CCC;
}